/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 4, ../sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, ../sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 1, ../sass/modules/_global-styles.scss */
* {
  outline: none; }

/* line 7, ../sass/modules/_global-styles.scss */
html {
  height: 100%; }

/* line 11, ../sass/modules/_global-styles.scss */
body {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  color: #000;
  margin: 0;
  line-height: 1.5em; }

/* line 20, ../sass/modules/_global-styles.scss */
.resume-wrapper h1 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: left;
  padding-bottom: 1.1em;
  border-bottom: solid 4px #2EBDB2; }

/* line 29, ../sass/modules/_global-styles.scss */
.col-2 {
  float: left;
  display: block;
  padding: 2.35765% 2.35765% 2.35765% 0;
  width: 48.82117%; }

/* line 37, ../sass/modules/_global-styles.scss */
.wrapper a {
  border-bottom: solid 2px #2EBDB2;
  color: #4A4A4A; }

/* line 43, ../sass/modules/_global-styles.scss */
.work-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 0;
  border-top: 3px solid #E8E8E8; }
  /* line 9, ../sass/bourbon/addons/_clearfix.scss */
  .work-wrapper::after {
    clear: both;
    content: "";
    display: table; }

/* line 50, ../sass/modules/_global-styles.scss */
.work-media {
  margin: 0; }

/* line 54, ../sass/modules/_global-styles.scss */
.fluid-width-video-wrapper {
  margin: 1em 0; }

/* line 58, ../sass/modules/_global-styles.scss */
.work-media {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 87, ../sass/neat/grid/_span-columns.scss */
  .work-media:last-child {
    margin-right: 0; }

/* line 63, ../sass/modules/_global-styles.scss */
.work-text {
  float: left;
  display: block;
  width: 48.82117%;
  padding: 0 2em; }
  /* line 71, ../sass/modules/_global-styles.scss */
  .work-text h1 {
    font-size: 1.5em;
    margin-top: .5em;
    text-align: left;
    line-height: 2em;
    padding: 0; }
    /* line 78, ../sass/modules/_global-styles.scss */
    .work-text h1 a {
      padding: .5em 0; }

/* line 85, ../sass/modules/_global-styles.scss */
.meta {
  font-style: italic;
  margin: 0;
  max-width: 40.875rem; }
  /* line 90, ../sass/modules/_global-styles.scss */
  .meta li {
    margin: 0; }
  /* line 93, ../sass/modules/_global-styles.scss */
  .meta a {
    margin: 0 .3em;
    color: palevioletred; }

/* line 99, ../sass/modules/_global-styles.scss */
time.updated {
  float: left;
  width: 100%;
  margin: 1em auto;
  text-align: center; }

/* line 106, ../sass/modules/_global-styles.scss */
.article-meta {
  width: 100%;
  margin: 0;
  max-width: 100%; }
  /* line 112, ../sass/modules/_global-styles.scss */
  .article-meta li {
    display: inline-block;
    margin: 0 .3em;
    background-color: #F9F9F9;
    padding: 1em;
    border-radius: 14px; }

/* line 123, ../sass/modules/_global-styles.scss */
p.about-header {
  float: left;
  display: block;
  margin-right: 15.35765%;
  width: 14.70196%;
  color: #333; }

/* line 131, ../sass/modules/_global-styles.scss */
p.about {
  float: left;
  display: block;
  margin-right: 4.35765%;
  width: 29.909914%; }

/* line 138, ../sass/modules/_global-styles.scss */
.article-links {
  padding: 2em 0; }

/* line 142, ../sass/modules/_global-styles.scss */
.related-posts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 30.76157%;
  padding: 3em 0; }
  /* line 149, ../sass/modules/_global-styles.scss */
  .related-posts h1 {
    font-size: 1.1em;
    text-align: left; }
  /* line 153, ../sass/modules/_global-styles.scss */
  .related-posts p {
    font-size: .98em; }
  /* line 157, ../sass/modules/_global-styles.scss */
  .related-posts a.more {
    border-bottom: solid 2px #2EBDB2; }

/* line 162, ../sass/modules/_global-styles.scss */
.content {
  margin-top: 4em; }
  /* line 165, ../sass/modules/_global-styles.scss */
  .content a {
    border-bottom: solid 4px #2EBDB2; }

/* line 171, ../sass/modules/_global-styles.scss */
.content a:hover {
  border-bottom: solid 4px #333; }

/* line 177, ../sass/modules/_global-styles.scss */
.navigation {
  margin: 2em 0 0; }

/* line 181, ../sass/modules/_global-styles.scss */
figure.post-thumb {
  float: left;
  display: block;
  width: 50%;
  padding: 1.35765%; }

/* line 189, ../sass/modules/_global-styles.scss */
ul.post-nav {
  margin: 0;
  height: 100%;
  max-width: 50.875rem;
  overflow: hidden;
  font-size: 1.1em; }
  /* line 196, ../sass/modules/_global-styles.scss */
  ul.post-nav li {
    margin: 1em 0em 1em; }

/* line 206, ../sass/modules/_global-styles.scss */
li.next {
  float: right; }

/* line 210, ../sass/modules/_global-styles.scss */
.links {
  margin: 2em 0; }

@media screen and (max-width: 850px) {
  /* line 223, ../sass/modules/_global-styles.scss */
  .work-media {
    width: 100%; }

  /* line 228, ../sass/modules/_global-styles.scss */
  .work-text {
    width: 100%; } }
@media screen and (max-width: 700px) {
  /* line 236, ../sass/modules/_global-styles.scss */
  .article-meta {
    width: 11em;
    margin: 0em; }

  /* line 241, ../sass/modules/_global-styles.scss */
  figure.post-thumb {
    float: left;
    display: block;
    width: 100%;
    padding: 1.35765%; }

  /* line 248, ../sass/modules/_global-styles.scss */
  .article-meta li {
    display: block;
    margin: .5em 0;
    padding: 0.2em; }

  /* line 254, ../sass/modules/_global-styles.scss */
  .related-posts {
    width: 100%; }

  /* line 258, ../sass/modules/_global-styles.scss */
  .span6 {
    width: 100%; }

  /* line 262, ../sass/modules/_global-styles.scss */
  .content {
    margin-top: 2em; }

  /* line 266, ../sass/modules/_global-styles.scss */
  ul.post-nav {
    text-align: center; }

  /* line 271, ../sass/modules/_global-styles.scss */
  .info p {
    width: 100%;
    float: left;
    text-align: center; }

  /* line 278, ../sass/modules/_global-styles.scss */
  figure.contact {
    width: 7em;
    margin: 0 auto; }

  /* line 283, ../sass/modules/_global-styles.scss */
  span {
    float: left;
    width: 100%;
    text-align: center; }

  /* line 289, ../sass/modules/_global-styles.scss */
  .meta {
    width: 25em; }
    /* line 292, ../sass/modules/_global-styles.scss */
    .meta li {
      margin: 0;
      display: block; } }
/* line 2, ../sass/modules/_header.scss */
header {
  width: 100%;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  top: 0;
  z-index: 10;
  padding: 0; }
  /* line 12, ../sass/modules/_header.scss */
  header h1 {
    font-weight: 800;
    font-size: 1.467em;
    font-family: 'Merriweather Sans', sans-serif; }
  /* line 19, ../sass/modules/_header.scss */
  header p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    font-size: 1em;
    line-height: 1.8em; }
    /* line 87, ../sass/neat/grid/_span-columns.scss */
    header p:last-child {
      margin-right: 0; }

/* line 27, ../sass/modules/_header.scss */
h1.about {
  font-size: 2.6em;
  line-height: 1.7em;
  font-weight: 300;
  padding: 2em 0 1em; }

/* line 34, ../sass/modules/_header.scss */
.divider {
  width: 100% !important;
  padding-top: 3em;
  margin-bottom: 10px;
  background: url(/images/stripe.jpg) repeat-x; }

/* line 41, ../sass/modules/_header.scss */
img.contact {
  margin-bottom: 15px;
  width: 6em;
  float: left;
  margin: 0; }

/* line 48, ../sass/modules/_header.scss */
.grid-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 87, ../sass/neat/grid/_span-columns.scss */
  .grid-3:last-child {
    margin-right: 0; }

/* line 52, ../sass/modules/_header.scss */
h1.home {
  font-size: 2.8em;
  line-height: 1.4em;
  padding: 2em 0 .5em;
  font-weight: 300; }

/* line 60, ../sass/modules/_header.scss */
h1 {
  font-size: 1.4em;
  padding: 15px 0; }

/* line 66, ../sass/modules/_header.scss */
ul {
  margin: 0 auto 2em auto;
  height: 100%;
  max-width: 22.875rem;
  overflow: hidden; }
  /* line 72, ../sass/modules/_header.scss */
  ul li {
    display: inline-block;
    margin: 0 2em; }

/* line 80, ../sass/modules/_header.scss */
ul.menu {
  margin: 0 auto 2em auto;
  height: 100%;
  overflow: hidden;
  text-align: right;
  max-width: 100%; }
  /* line 86, ../sass/modules/_header.scss */
  ul.menu li {
    display: inline-block;
    margin: 15px 4em 0 0;
    font-size: 1.1em; }

/* line 96, ../sass/modules/_header.scss */
.logo {
  float: left;
  display: block;
  margin: 3px 0;
  display: block;
  font-weight: 700; }

@media screen and (max-width: 700px) {
  /* line 115, ../sass/modules/_header.scss */
  header h1 {
    font-size: 1.167em; }

  /* line 122, ../sass/modules/_header.scss */
  h1.home {
    font-size: 2.4em;
    text-align: center; }

  /* line 127, ../sass/modules/_header.scss */
  .logo {
    float: none;
    text-align: center;
    max-width: 100%;
    margin: 1em 0;
    font-size: 1.3em; }

  /* line 135, ../sass/modules/_header.scss */
  ul.menu {
    margin: 1em 0;
    text-align: center; }

  /* line 140, ../sass/modules/_header.scss */
  ul {
    max-width: 16.875rem; }
    /* line 143, ../sass/modules/_header.scss */
    ul li {
      margin: 0 1em; } }
/* line 2, ../sass/modules/_footer.scss */
footer {
  width: 100%; }
  /* line 5, ../sass/modules/_footer.scss */
  footer h1 {
    font-size: 1.2em;
    color: black;
    text-align: center;
    padding: 1em 0;
    color: #4A4A4A; }
  /* line 15, ../sass/modules/_footer.scss */
  footer p {
    margin: 0;
    padding: 0 0 2em;
    font-size: .7em;
    text-align: center; }
  /* line 22, ../sass/modules/_footer.scss */
  footer ul {
    padding-top: 2em;
    height: 100%;
    max-width: 11.875rem; }
    /* line 27, ../sass/modules/_footer.scss */
    footer ul li {
      margin: 0 1em; }

/* line 34, ../sass/modules/_footer.scss */
h1.recent-updates {
  font-size: 1.7em;
  color: black;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em; }

/* line 43, ../sass/modules/_footer.scss */
.newsletter {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 9, ../sass/bourbon/addons/_clearfix.scss */
  .newsletter::after {
    clear: both;
    content: "";
    display: table; }
  /* line 46, ../sass/modules/_footer.scss */
  .newsletter form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 59.82117%;
    margin-left: 25.58941%; }

/* line 55, ../sass/modules/_footer.scss */
#tlemail {
  padding: 1.0442em;
  font-size: 1em;
  width: 68%;
  background-color: #F7F7F7;
  border: none;
  font-family: "Merriweather", sans-serif; }

/* line 64, ../sass/modules/_footer.scss */
input.button {
  clear: both;
  border: 0 none;
  color: #FFF;
  display: inline-block;
  height: 3.44444em;
  margin: 0 5px 10px 0;
  padding: 0 1px;
  text-align: center;
  width: 8em;
  font-size: 1em;
  font-family: "Merriweather", sans-serif;
  background-color: #000;
  cursor: pointer; }

/* line 80, ../sass/modules/_footer.scss */
input.button:hover {
  background-color: #66F2B2;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transform: translateZ(0);
  -webkit-transition: all .5s ease-out; }

@media screen and (max-width: 850px) {
  /* line 90, ../sass/modules/_footer.scss */
  #tlemail {
    width: 62%; } }
@media screen and (max-width: 850px) and (max-width: 700px) {
  /* line 98, ../sass/modules/_footer.scss */
  .newsletter form {
    margin-right: 2.35765%;
    width: 78.82117%;
    margin-left: 9.58941%; }

  /* line 104, ../sass/modules/_footer.scss */
  #tlemail {
    width: 100%; }

  /* line 108, ../sass/modules/_footer.scss */
  input.button {
    clear: both;
    border: 0 none;
    color: #FFF;
    display: inline-block;
    height: 3.44444em;
    margin: 1em 3em;
    padding: 0 1px;
    text-align: center;
    width: 11em;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    background-color: #4A4A4A;
    cursor: pointer; } }
/* line 40, ../sass/base.scss */
.container {
  max-width: 59.875em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 0 3.55555em;
  overflow: hidden; }

/* line 51, ../sass/base.scss */
h2 {
  font-size: 2.5em;
  margin: 2em 0; }

/* line 56, ../sass/base.scss */
h2.page-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 1.4em 0 0em;
  text-align: center;
  line-height: 2.5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

/* line 67, ../sass/base.scss */
h3 {
  font-size: 1.325em;
  margin: 2em 0; }

/* line 72, ../sass/base.scss */
h4 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 1em 0; }
  /* line 77, ../sass/base.scss */
  h4 a {
    color: #2EBDB2; }

/* line 82, ../sass/base.scss */
.info {
  border-top: 3px solid rgba(0, 0, 0, 0.09);
  padding-top: 2em;
  float: left;
  font-size: .88em; }

/* line 90, ../sass/base.scss */
span {
  font-size: 1em;
  padding: 0 0 2em 0;
  color: #2EBDB2;
  float: left; }

/* line 97, ../sass/base.scss */
a {
  text-decoration: none;
  color: #333; }

/* line 102, ../sass/base.scss */
.updates {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid rgba(0, 0, 0, 0.09); }
  /* line 9, ../sass/bourbon/addons/_clearfix.scss */
  .updates::after {
    clear: both;
    content: "";
    display: table; }

/* line 107, ../sass/base.scss */
.col-1 {
  margin: 0 0 3em 0; }
  /* line 110, ../sass/base.scss */
  .col-1 a {
    border-bottom: solid 4px #2EBDB2; }

/* line 117, ../sass/base.scss */
.blog {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 9, ../sass/bourbon/addons/_clearfix.scss */
  .blog::after {
    clear: both;
    content: "";
    display: table; }
  /* line 120, ../sass/base.scss */
  .blog article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    /* line 87, ../sass/neat/grid/_span-columns.scss */
    .blog article:last-child {
      margin-right: 0; }
  /* line 123, ../sass/base.scss */
  .blog h1 {
    padding: 0; }

/* line 128, ../sass/base.scss */
.article-post {
  margin: 0; }
  /* line 130, ../sass/base.scss */
  .article-post p {
    margin: 0 0 1em 0;
    display: block; }
  /* line 135, ../sass/base.scss */
  .article-post h2 {
    font-size: 1.5em;
    margin: 1em 0 0em;
    line-height: 1.5em; }
  /* line 142, ../sass/base.scss */
  .article-post p {
    margin: 0 0 1em 0; }
  /* line 145, ../sass/base.scss */
  .article-post ul {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    /* line 9, ../sass/bourbon/addons/_clearfix.scss */
    .article-post ul::after {
      clear: both;
      content: "";
      display: table; }
    /* line 148, ../sass/base.scss */
    .article-post ul li {
      margin: 0; }

/* line 155, ../sass/base.scss */
.post {
  margin: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.09); }
  /* line 158, ../sass/base.scss */
  .post p {
    margin: 0 0 1em 0;
    display: block; }
  /* line 163, ../sass/base.scss */
  .post h2 {
    font-size: 1.5em;
    margin: 1em 0 0em;
    line-height: 1.5em; }
  /* line 170, ../sass/base.scss */
  .post p {
    margin: 0 0 1em 0; }
  /* line 173, ../sass/base.scss */
  .post ul {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    /* line 9, ../sass/bourbon/addons/_clearfix.scss */
    .post ul::after {
      clear: both;
      content: "";
      display: table; }
    /* line 176, ../sass/base.scss */
    .post ul li {
      margin: 0; }

/* line 184, ../sass/base.scss */
h2.article-title {
  font-size: 2.5em;
  font-weight: 300;
  margin: 1.7em 0 0em;
  line-height: 1.5em; }

/* line 192, ../sass/base.scss */
p {
  font-size: 1.1em;
  line-height: 2.2em;
  margin: 1em 0;
  font-weight: 300; }

/* line 199, ../sass/base.scss */
img {
  max-width: 100%;
  vertical-align: middle; }

/* line 204, ../sass/base.scss */
figure img {
  max-width: 100%;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */ }

/* line 211, ../sass/base.scss */
a:hover {
  color: #ccc;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out; }

/* line 221, ../sass/base.scss */
.index-nav {
  margin: 0 auto 1em auto;
  max-width: 100%; }
  /* line 225, ../sass/base.scss */
  .index-nav li.next {
    margin: 0.5em auto;
    text-align: right;
    top: 40%;
    line-height: 2em;
    padding: 1em 0 0; }
  /* line 234, ../sass/base.scss */
  .index-nav li.previous {
    margin: 0.5em auto;
    text-align: left;
    top: 40%;
    line-height: 2em;
    padding: 1em 0 0; }

@media screen and (max-width: 900px) {
  /* line 251, ../sass/base.scss */
  p {
    font-size: 1em; } }
@media screen and (max-width: 700px) {
  /* line 261, ../sass/base.scss */
  .container {
    padding: 0 1.55555em; }

  /* line 267, ../sass/base.scss */
  h2.article-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center; }

  /* line 274, ../sass/base.scss */
  li.next {
    float: none; } }
