/*
Error: Invalid CSS after "	}": expected "}", was ""
        on line 286 of /Users/peterhironaka/Portfolio/pjh/source/sass/modules/_global-styles.scss
        from line 35 of /Users/peterhironaka/Portfolio/pjh/source/sass/base.scss

Backtrace:
/Users/peterhironaka/Portfolio/pjh/source/sass/modules/_global-styles.scss:286
/Users/peterhironaka/Portfolio/pjh/source/sass/base.scss:35
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:643:in `block'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:194:in `directive'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/renderers/sass.rb:87:in `evaluate'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/tilt-1.4.1/lib/tilt/template.rb:103:in `render'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/core_extensions/rendering.rb:303:in `render_individual_file'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/core_extensions/rendering.rb:181:in `_render_with_all_renderers'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/core_extensions/rendering.rb:149:in `render_template'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/sitemap/resource.rb:127:in `block in render'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/activesupport-4.1.10/lib/active_support/notifications.rb:161:in `instrument'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/util.rb:41:in `instrument'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/application.rb:219:in `instrument'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/sitemap/resource.rb:14:in `instrument'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/sitemap/resource.rb:100:in `render'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/core_extensions/request.rb:256:in `process_request'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/core_extensions/request.rb:206:in `block in call!'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/core_extensions/request.rb:205:in `catch'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/core_extensions/request.rb:205:in `call!'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/core_extensions/request.rb:191:in `call'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-1.6.0/lib/rack/urlmap.rb:66:in `block in call'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-1.6.0/lib/rack/urlmap.rb:50:in `each'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-1.6.0/lib/rack/urlmap.rb:50:in `call'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-more/extensions/minify_javascript.rb:41:in `call'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-1.6.0/lib/rack/head.rb:13:in `call'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-1.6.0/lib/rack/lint.rb:49:in `_call'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-1.6.0/lib/rack/lint.rb:37:in `call'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-1.6.0/lib/rack/builder.rb:153:in `call'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-test-0.6.3/lib/rack/mock_session.rb:30:in `request'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-test-0.6.3/lib/rack/test.rb:244:in `process_request'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/rack-test-0.6.3/lib/rack/test.rb:58:in `get'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/cli/build.rb:255:in `render_to_file'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/cli/build.rb:221:in `build_resource'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/cli/build.rb:188:in `each'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/cli/build.rb:188:in `execute!'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/cli/build.rb:128:in `invoke!'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor/actions.rb:94:in `action'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/cli/build.rb:70:in `build'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor/command.rb:27:in `run'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/cli.rb:72:in `method_missing'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor/command.rb:29:in `run'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor/command.rb:126:in `run'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/lib/middleman-core/cli.rb:20:in `start'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/gems/middleman-core-3.3.10/bin/middleman:18:in `<top (required)>'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/bin/middleman:23:in `load'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/bin/middleman:23:in `<main>'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/peterhironaka/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	}\": expected \"}\", was \"\"\A         on line 286 of /Users/peterhironaka/Portfolio/pjh/source/sass/modules/_global-styles.scss\A         from line 35 of /Users/peterhironaka/Portfolio/pjh/source/sass/base.scss"; }
