---
pageable: false
---

<% wrap_layout :layout do %>
<h2 class="article-title">Information</h2> 

<h2 class="about-title">Bio</h2> 


<p class="about-header">Peter Hironaka 1987-Present</p>
 
 <div class="content">
  <%= yield %>
    </div>
  <% end %>

