/* line 5, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 1, ../sass/modules/_global-styles.scss */
* {
  outline: none;
}

/* line 7, ../sass/modules/_global-styles.scss */
html {
  height: 100%;
}

/* line 11, ../sass/modules/_global-styles.scss */
body {
  font-family: "Merriweather", serif;
  font-size: .88em;
  font-weight: 400;
  color: #4A4A4A;
  margin: 0;
  line-height: 1.5em;
}

/* line 21, ../sass/modules/_global-styles.scss */
.post {
  border-bottom: 1px solid #ccc;
  margin: 0;
}

/* line 27, ../sass/modules/_global-styles.scss */
.meta {
  font-style: italic;
  margin: 0;
  max-width: 40.875rem;
}
/* line 32, ../sass/modules/_global-styles.scss */
.meta a {
  margin: 0 .3em;
  color: palevioletred;
}

/* line 38, ../sass/modules/_global-styles.scss */
time.updated {
  float: left;
  width: 100%;
  margin: 1em auto;
  text-align: center;
}

/* line 45, ../sass/modules/_global-styles.scss */
.article-meta {
  width: 43em;
  font-style: italic;
  margin: 2em auto;
  text-align: center;
}
/* line 51, ../sass/modules/_global-styles.scss */
.article-meta li {
  display: inline-block;
  margin: 0 .3em;
}
/* line 55, ../sass/modules/_global-styles.scss */
.article-meta li a {
  color: palevioletred;
}

/* line 63, ../sass/modules/_global-styles.scss */
p.about-header {
  float: left;
  display: block;
  margin-right: 15.35765%;
  width: 14.70196%;
  color: #333;
}

/* line 71, ../sass/modules/_global-styles.scss */
p.about {
  float: left;
  display: block;
  margin-right: 4.35765%;
  width: 29.909914%;
}

/* line 78, ../sass/modules/_global-styles.scss */
.article-links {
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

/* line 83, ../sass/modules/_global-styles.scss */
.content {
  margin-top: 4em;
}
/* line 86, ../sass/modules/_global-styles.scss */
.content a {
  border-bottom: solid 2px #2EBDB2;
  color: #4A4A4A;
}

/* line 93, ../sass/modules/_global-styles.scss */
.content a:hover {
  border-bottom: solid 2px #333;
}

/* line 99, ../sass/modules/_global-styles.scss */
.navigation {
  border-top: 1px solid #ccc;
  margin: 2em 0;
}

/* line 104, ../sass/modules/_global-styles.scss */
ul.post-nav {
  margin: 0 auto 2em auto;
  height: 100%;
  max-width: 45.875rem;
  overflow: hidden;
}
/* line 110, ../sass/modules/_global-styles.scss */
ul.post-nav li {
  margin: 3em 0em 1em;
}

/* line 116, ../sass/modules/_global-styles.scss */
figure.contact img {
  margin-bottom: 15px;
  -webkit-border-radius: 147px;
  -moz-border-radius: 123px;
  border-radius: 147px;
  width: 7em;
  float: left;
  margin: 1em 2em 3em 0;
}

/* line 126, ../sass/modules/_global-styles.scss */
li.next {
  float: right;
}

/* line 130, ../sass/modules/_global-styles.scss */
.links {
  margin: 2em 0;
}

@media screen and (max-width: 700px) {
  /* line 144, ../sass/modules/_global-styles.scss */
  .article-meta {
    width: 11em;
    margin: 0em auto;
  }

  /* line 149, ../sass/modules/_global-styles.scss */
  .content {
    margin-top: 2em;
  }

  /* line 153, ../sass/modules/_global-styles.scss */
  ul.post-nav {
    text-align: center;
  }

  /* line 158, ../sass/modules/_global-styles.scss */
  .info p {
    width: 100%;
    float: left;
    text-align: center;
  }

  /* line 165, ../sass/modules/_global-styles.scss */
  figure.contact {
    width: 7em;
    margin: 0 auto;
  }

  /* line 170, ../sass/modules/_global-styles.scss */
  span {
    float: left;
    width: 100%;
  }

  /* line 175, ../sass/modules/_global-styles.scss */
  .meta {
    width: 54em;
    font-size: .88em;
  }
  /* line 179, ../sass/modules/_global-styles.scss */
  .meta li {
    margin: 0;
    display: block;
  }

  /* line 184, ../sass/modules/_global-styles.scss */
  .meta a {
    width: 100%;
    display: block;
  }
}
/* line 2, ../sass/modules/_header.scss */
header {
  width: 100%;
  max-width: 100%;
  margin: 2em auto;
  overflow: hidden;
  top: 0;
  z-index: 10;
}

/* line 11, ../sass/modules/_header.scss */
h1 {
  font-size: 1.7em;
  color: black;
  text-align: center;
}

/* line 18, ../sass/modules/_header.scss */
ul {
  margin: 0 auto 2em auto;
  height: 100%;
  max-width: 19.875rem;
  overflow: hidden;
}
/* line 24, ../sass/modules/_header.scss */
ul li {
  display: inline-block;
  margin: 0 2em;
}

/* line 32, ../sass/modules/_header.scss */
a.logo {
  max-width: 7em;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
}

/* line 2, ../sass/modules/_footer.scss */
footer {
  width: 100%;
}
/* line 4, ../sass/modules/_footer.scss */
footer p {
  margin: 0;
  padding: 0 0 2em;
  font-size: .7em;
  text-align: center;
}
/* line 11, ../sass/modules/_footer.scss */
footer ul {
  padding-top: 2em;
  height: 100%;
  max-width: 14.875rem;
}
/* line 16, ../sass/modules/_footer.scss */
footer ul li {
  margin: 0 1em;
}

/* line 40, ../sass/base.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 0px 1.55555em;
  max-width: 47.875rem;
  overflow: hidden;
}
/* line 9, ../sass/bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 51, ../sass/base.scss */
h2 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 2em 0;
}

/* line 57, ../sass/base.scss */
h2.article-title {
  font-size: 2.7rem;
  font-weight: 700;
  margin: .4em 0 0em;
  text-align: center;
  line-height: 1.5em;
}

/* line 65, ../sass/base.scss */
h2.about-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 1.4em 0 0em;
  text-align: center;
  line-height: 2.5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 77, ../sass/base.scss */
h3 {
  font-size: 1.1em;
  font-style: italic;
  color: #999;
  text-align: center;
}

/* line 84, ../sass/base.scss */
.info {
  border-top: 1px solid #ccc;
  padding-top: 2em;
  padding-bottom: 2em;
  float: left;
}

/* line 91, ../sass/base.scss */
span {
  float: left;
  width: 10em;
}

/* line 96, ../sass/base.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 101, ../sass/base.scss */
p {
  font-size: 1em;
  color: #4A4A4A;
  line-height: 2.2em;
  margin: 1em 0;
}

/* line 108, ../sass/base.scss */
img {
  max-width: 100%;
}

/* line 112, ../sass/base.scss */
figure img {
  max-width: 100%;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

/* line 119, ../sass/base.scss */
a:hover {
  color: #ccc;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

/* line 129, ../sass/base.scss */
.index-nav {
  margin: 0 auto 1em auto;
  max-width: 100%;
}
/* line 133, ../sass/base.scss */
.index-nav li.next {
  margin: 0.5em auto;
  text-align: right;
  top: 40%;
  line-height: 2em;
  padding: 1em 0 0;
}
/* line 142, ../sass/base.scss */
.index-nav li.previous {
  margin: 0.5em auto;
  text-align: left;
  top: 40%;
  line-height: 2em;
  padding: 1em 0 0;
}

@media screen and (max-width: 700px) {
  /* line 160, ../sass/base.scss */
  h2.article-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  /* line 166, ../sass/base.scss */
  li.next {
    float: none;
  }
}
