/* line 5, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 1, ../sass/modules/_global-styles.scss */
* {
  outline: none;
}

/* line 7, ../sass/modules/_global-styles.scss */
html {
  height: 100%;
}

/* line 11, ../sass/modules/_global-styles.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #4A4A4A;
  margin: 0;
  line-height: 1.5em;
}

/* line 20, ../sass/modules/_global-styles.scss */
.resume-wrapper h1 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: left;
  padding-bottom: 1.1em;
  border-bottom: solid 4px #2EBDB2;
}

/* line 30, ../sass/modules/_global-styles.scss */
.wrapper a {
  border-bottom: solid 2px #2EBDB2;
  color: #4A4A4A;
}

/* line 36, ../sass/modules/_global-styles.scss */
.work-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ccc;
  padding: 1.5em 0;
}
/* line 9, ../sass/bourbon/addons/_clearfix.scss */
.work-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

/* line 42, ../sass/modules/_global-styles.scss */
.work-media {
  margin: 0;
}

/* line 46, ../sass/modules/_global-styles.scss */
.fluid-width-video-wrapper {
  margin: 1em 0;
}

/* line 50, ../sass/modules/_global-styles.scss */
.work-media {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 87, ../sass/neat/grid/_span-columns.scss */
.work-media:last-child {
  margin-right: 0;
}

/* line 55, ../sass/modules/_global-styles.scss */
.work-text {
  float: left;
  display: block;
  width: 48.82117%;
}
/* line 60, ../sass/modules/_global-styles.scss */
.work-text p {
  font-size: 1em;
}
/* line 64, ../sass/modules/_global-styles.scss */
.work-text h1 {
  font-size: 1.5em;
  margin-top: .5em;
  text-align: left;
  line-height: 2em;
}
/* line 70, ../sass/modules/_global-styles.scss */
.work-text h1 a {
  padding: .5em 0;
}

/* line 76, ../sass/modules/_global-styles.scss */
.post {
  border-bottom: 1px solid #ccc;
  margin: 0;
}

/* line 82, ../sass/modules/_global-styles.scss */
.meta {
  font-style: italic;
  margin: 0;
  max-width: 40.875rem;
}
/* line 87, ../sass/modules/_global-styles.scss */
.meta li {
  margin: 0;
}
/* line 90, ../sass/modules/_global-styles.scss */
.meta a {
  margin: 0 .3em;
  color: palevioletred;
}

/* line 96, ../sass/modules/_global-styles.scss */
time.updated {
  float: left;
  width: 100%;
  margin: 1em auto;
  text-align: center;
}

/* line 103, ../sass/modules/_global-styles.scss */
.article-meta {
  width: 100%;
  margin: 0;
  max-width: 100%;
}
/* line 109, ../sass/modules/_global-styles.scss */
.article-meta li {
  display: inline-block;
  margin: 0 .3em;
  background-color: #F9F9F9;
  padding: .5em;
}

/* line 120, ../sass/modules/_global-styles.scss */
p.about-header {
  float: left;
  display: block;
  margin-right: 15.35765%;
  width: 14.70196%;
  color: #333;
}

/* line 128, ../sass/modules/_global-styles.scss */
p.about {
  float: left;
  display: block;
  margin-right: 4.35765%;
  width: 29.909914%;
}

/* line 135, ../sass/modules/_global-styles.scss */
.article-links {
  padding: 2em 0;
}

/* line 139, ../sass/modules/_global-styles.scss */
.related-posts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 30.76157%;
  padding: 3em 0;
}
/* line 146, ../sass/modules/_global-styles.scss */
.related-posts h1 {
  font-size: 1.1em;
  text-align: left;
}
/* line 150, ../sass/modules/_global-styles.scss */
.related-posts p {
  font-size: .98em;
}
/* line 154, ../sass/modules/_global-styles.scss */
.related-posts a.more {
  border-bottom: solid 2px #2EBDB2;
}

/* line 159, ../sass/modules/_global-styles.scss */
.content {
  margin-top: 4em;
}
/* line 162, ../sass/modules/_global-styles.scss */
.content a {
  border-bottom: solid 2px #2EBDB2;
  color: #4A4A4A;
}

/* line 169, ../sass/modules/_global-styles.scss */
.content a:hover {
  border-bottom: solid 2px #333;
}

/* line 175, ../sass/modules/_global-styles.scss */
.navigation {
  border-top: 1px solid #ccc;
  margin: 2em 0;
}

/* line 180, ../sass/modules/_global-styles.scss */
ul.post-nav {
  margin: 0 auto 2em auto;
  height: 100%;
  max-width: 50.875rem;
  overflow: hidden;
}
/* line 186, ../sass/modules/_global-styles.scss */
ul.post-nav li {
  margin: 3em 0em 1em;
}

/* line 192, ../sass/modules/_global-styles.scss */
figure.contact img {
  margin-bottom: 15px;
  -webkit-border-radius: 147px;
  -moz-border-radius: 123px;
  border-radius: 147px;
  width: 7em;
  float: left;
  margin: 1em 2em 2em 0;
}

/* line 202, ../sass/modules/_global-styles.scss */
li.next {
  float: right;
}

/* line 206, ../sass/modules/_global-styles.scss */
.links {
  margin: 2em 0;
}

@media screen and (max-width: 1000px) {
  /* line 219, ../sass/modules/_global-styles.scss */
  .work-media {
    width: 100%;
  }

  /* line 224, ../sass/modules/_global-styles.scss */
  .work-text {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  /* line 232, ../sass/modules/_global-styles.scss */
  .article-meta {
    width: 11em;
    margin: 0em auto;
  }

  /* line 237, ../sass/modules/_global-styles.scss */
  .article-meta li {
    display: block;
    margin: 0.5em;
    padding: 0.2em;
  }

  /* line 243, ../sass/modules/_global-styles.scss */
  .related-posts {
    width: 100%;
  }

  /* line 247, ../sass/modules/_global-styles.scss */
  .span6 {
    width: 100%;
  }

  /* line 251, ../sass/modules/_global-styles.scss */
  .content {
    margin-top: 2em;
  }

  /* line 255, ../sass/modules/_global-styles.scss */
  ul.post-nav {
    text-align: center;
  }

  /* line 260, ../sass/modules/_global-styles.scss */
  .info p {
    width: 100%;
    float: left;
    text-align: center;
  }

  /* line 267, ../sass/modules/_global-styles.scss */
  figure.contact {
    width: 7em;
    margin: 0 auto;
  }

  /* line 272, ../sass/modules/_global-styles.scss */
  span {
    float: left;
    width: 100%;
    text-align: center;
  }

  /* line 278, ../sass/modules/_global-styles.scss */
  .meta {
    width: 25em;
  }
  /* line 281, ../sass/modules/_global-styles.scss */
  .meta li {
    margin: 0;
    display: block;
  }
}
/* line 2, ../sass/modules/_header.scss */
header {
  width: 100%;
  max-width: 100%;
  margin: 2em 0;
  overflow: hidden;
  top: 0;
  z-index: 10;
}

/* line 11, ../sass/modules/_header.scss */
.divider {
  width: 100% !important;
  padding-top: 3em;
  margin-bottom: 10px;
  background: url(/images/stripe.jpg) repeat-x;
}

/* line 19, ../sass/modules/_header.scss */
h1 {
  font-size: 1.7em;
  color: black;
  text-align: center;
}

/* line 26, ../sass/modules/_header.scss */
ul {
  margin: 0 auto 2em auto;
  height: 100%;
  max-width: 22.875rem;
  overflow: hidden;
}
/* line 32, ../sass/modules/_header.scss */
ul li {
  display: inline-block;
  margin: 0 2em;
}

/* line 40, ../sass/modules/_header.scss */
ul.menu {
  margin: 0 auto 2em auto;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: right;
}
/* line 47, ../sass/modules/_header.scss */
ul.menu li {
  display: inline-block;
  margin: 0 2em;
}

/* line 56, ../sass/modules/_header.scss */
a.logo {
  max-width: 23em;
  margin: 0 auto;
  display: block;
  margin: 0;
  float: left;
}

@media screen and (max-width: 700px) {
  /* line 72, ../sass/modules/_header.scss */
  header {
    margin: 0;
  }

  /* line 78, ../sass/modules/_header.scss */
  a.logo {
    float: none;
    text-align: center;
    max-width: 100%;
  }

  /* line 84, ../sass/modules/_header.scss */
  ul.menu {
    margin: 1em 0;
    text-align: center;
  }

  /* line 89, ../sass/modules/_header.scss */
  ul {
    max-width: 16.875rem;
  }
  /* line 92, ../sass/modules/_header.scss */
  ul li {
    margin: 0 1em;
  }
}
/* line 2, ../sass/modules/_footer.scss */
footer {
  width: 100%;
}
/* line 5, ../sass/modules/_footer.scss */
footer h1 {
  font-size: 1.2em;
  color: black;
  text-align: center;
  padding: 1em 0;
  color: #4A4A4A;
}
/* line 15, ../sass/modules/_footer.scss */
footer p {
  margin: 0;
  padding: 0 0 2em;
  font-size: .7em;
  text-align: center;
}
/* line 22, ../sass/modules/_footer.scss */
footer ul {
  padding-top: 2em;
  height: 100%;
  max-width: 15.875rem;
}
/* line 27, ../sass/modules/_footer.scss */
footer ul li {
  margin: 0 1em;
}

/* line 34, ../sass/modules/_footer.scss */
h1.recent-updates {
  font-size: 1.7em;
  color: black;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 43, ../sass/modules/_footer.scss */
.newsletter {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, ../sass/bourbon/addons/_clearfix.scss */
.newsletter::after {
  clear: both;
  content: "";
  display: table;
}
/* line 46, ../sass/modules/_footer.scss */
.newsletter form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 59.82117%;
  margin-left: 25.58941%;
}

/* line 55, ../sass/modules/_footer.scss */
#tlemail {
  padding: 1.0442em;
  font-size: 1em;
  width: 68%;
  background-color: #F7F7F7;
  border: none;
  font-family: "Open Sans", sans-serif;
}

/* line 64, ../sass/modules/_footer.scss */
input.button {
  clear: both;
  border: 0 none;
  color: #FFF;
  display: inline-block;
  height: 3.44444em;
  margin: 0 5px 10px 0;
  padding: 0 1px;
  text-align: center;
  width: 8em;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  background-color: #4A4A4A;
  cursor: pointer;
}

/* line 80, ../sass/modules/_footer.scss */
input.button:hover {
  background-color: #66F2B2;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transform: translateZ(0);
  -webkit-transition: all .5s ease-out;
}

@media screen and (max-width: 850px) {
  /* line 90, ../sass/modules/_footer.scss */
  #tlemail {
    width: 62%;
  }
}
@media screen and (max-width: 850px) and (max-width: 700px) {
  /* line 98, ../sass/modules/_footer.scss */
  .newsletter form {
    margin-right: 2.35765%;
    width: 78.82117%;
    margin-left: 9.58941%;
  }

  /* line 104, ../sass/modules/_footer.scss */
  #tlemail {
    width: 100%;
  }

  /* line 108, ../sass/modules/_footer.scss */
  input.button {
    clear: both;
    border: 0 none;
    color: #FFF;
    display: inline-block;
    height: 3.44444em;
    margin: 1em 3em;
    padding: 0 1px;
    text-align: center;
    width: 11em;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    background-color: #4A4A4A;
    cursor: pointer;
  }
}
/* line 40, ../sass/base.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 0 3.55555em;
  overflow: hidden;
}
/* line 9, ../sass/bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 50, ../sass/base.scss */
h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 2em 0;
}

/* line 56, ../sass/base.scss */
h2.article-title {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1.4em 0 0em;
  line-height: 1.5em;
}

/* line 64, ../sass/base.scss */
h2.page-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 1.4em 0 0em;
  text-align: center;
  line-height: 2.5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 76, ../sass/base.scss */
h3 {
  font-size: 1.1em;
  font-style: italic;
  color: #999;
  text-align: center;
}

/* line 83, ../sass/base.scss */
.info {
  border-top: 1px solid #ccc;
  padding-top: 2em;
  float: left;
  font-size: .88em;
}

/* line 91, ../sass/base.scss */
span {
  font-size: 1em;
  color: #2EBDB2;
}

/* line 96, ../sass/base.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 102, ../sass/base.scss */
p {
  font-size: 1.2em;
  color: #4A4A4A;
  line-height: 2.2em;
  margin: 1em 0;
}

/* line 109, ../sass/base.scss */
img {
  max-width: 100%;
}

/* line 113, ../sass/base.scss */
figure img {
  max-width: 100%;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

/* line 120, ../sass/base.scss */
a:hover {
  color: #ccc;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

/* line 130, ../sass/base.scss */
.index-nav {
  margin: 0 auto 1em auto;
  max-width: 100%;
}
/* line 134, ../sass/base.scss */
.index-nav li.next {
  margin: 0.5em auto;
  text-align: right;
  top: 40%;
  line-height: 2em;
  padding: 1em 0 0;
}
/* line 143, ../sass/base.scss */
.index-nav li.previous {
  margin: 0.5em auto;
  text-align: left;
  top: 40%;
  line-height: 2em;
  padding: 1em 0 0;
}

@media screen and (max-width: 900px) {
  /* line 160, ../sass/base.scss */
  p {
    font-size: 1em;
  }
}
@media screen and (max-width: 700px) {
  /* line 170, ../sass/base.scss */
  .container {
    padding: 0 1.55555em;
  }

  /* line 176, ../sass/base.scss */
  h2.article-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  /* line 183, ../sass/base.scss */
  li.next {
    float: none;
  }
}
