
footer {
width: 100%;
	p {
		margin: 0;
		padding: 0 0 2em ;
		font-size: .7em;
		text-align: center;
	}
	
	ul {
	padding-top: 2em ;
	height: 100%;
	max-width: 14.875rem;
		
		li {
			  margin: 0 1em;
		}
	}
	
}